<!DOCTYPE html>
<html ng-app='admin'>
<head>



<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<script src="javascripts/lib/angular.min.js"></script>
<script src="javascripts/lib/angular-route.min.js"></script>
<script type="text/javascript" src="javascripts/lib/angular-file-upload/dist/angular-file-upload.js"></script>
	<script type="text/javascript" src="javascripts/lib/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="javascripts/lib/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	
	<script type="text/javascript" src="javascripts/lib/ngDialog/js/ngDialog.min.js"></script>
	<link rel="stylesheet" type="text/css" href="javascripts/lib/ngDialog/css/ngDialog.min.css">
<script src="javascripts/app.js"></script>
<script src="javascripts/controllers.js"></script>

<script type="text/javascript" src="stylesheets/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="stylesheets/bootstrap/js/bootstrap.js"></script>

<script type="text/javascript" src="tinymce/tinymce.min.js"></script>



<script type="text/javascript" src="javascripts/lib/typeahead/dist/bloodhound.min.js"></script>
<script type="text/javascript" src="javascripts/lib/typeahead/dist/typeahead.bundle.js"></script>

<script type="text/javascript" src="javascripts/lib/angular-ui-tinymce/src/tinymce.js"></script>
<script type="text/javascript" src="javascripts/lib/angular-typeahead/dist/angular-typeahead.js"></script>

<link rel="stylesheet" type="text/css" href="javascripts/lib/ng-tinymce-typeahead/dist/ng-tinymce-typeahead.min.css">
<script type="text/javascript" src="javascripts/lib/ng-tinymce-typeahead/dist/ng-tinymce-typeahead.min.js"></script>
  <script type="text/javascript" src="javascripts/lib/ng-tinymce-typeahead/src/tinymce-typeahead-service.js"></script>  
  <script type="text/javascript" src="javascripts/multipartForm.js"></script>

</head>


<body>

<h3><p class="text-primary col-lg-8 col-lg-offset-2 " >Админ панель</p></h3>
<div  class="col-lg-8 col-lg-offset-2  panel" ng-view></div>

</body>


</html>