<div ng-controller="sessionController"><a href="javascript://" ng-click="del_sess();">Выйти</a></div>
<hr>

<div ng-controller="listController">
<h4><p class="text-info"><b>Статьи странцы</b></p></h4>
<a href="#/welcome_page">Назад</a><br><br>

	<div ng-repeat="one in items" class="menu_admin">
	<h4><a href='#/edit{{page}}/{{one.id}}'>{{one.title}}</a>
		<div class='icons'>
		<a href='#/edit{{page}}/{{one.id}}'><span class="glyphicon glyphicon-edit"></span></a>
		<a href="javascript://" ng-click="del_one(one);"><span class="glyphicon glyphicon-trash"></span></a></h4>
		</div>
		<hr>
		<a href="#/add{{page}}" class="btn btn-info"><span class="glyphicon glyphicon-plus">&nbsp;<b>Добавить статью</b></span></a>
	</div>
	
</div>


