<div class='col-md-4 col-md-offset-4 modal' ng-controller="listController">

<div class='col-md-12 ask'>
<center><h4><p class="text-danger">Вы действиельно хотите удалить статью с заголовком "{{value.title}}" ?</p></h4></center>
</div>
<div class="col-md-4 col-md-offset-4 buts">
<center>
<button  class='btn btn-primary' ng-click='ok();'><span class="glyphicon glyphicon-ok"></span></button>
<button  class='btn btn-danger' ng-click='close_();'><span  class="glyphicon glyphicon-remove"></span></button>
</center>
</div>
</div>