<div ng-controller="sessionController"><a href="javascript://" ng-click="del_sess();">Выйти</a></div>


<hr>

 <div ng-controller="contentController">
 <h4><p class="text-info"><b>Редактирование статьи главной страницы</b></p></h4>
<a href="#/welcome_page">Назад</a><br><br>
 <div class="{{result.style}}  mess"><center><span class="{{result.image}}">{{result.text}}</span></center></div><br>
 <form name='form'>
	<!--<input type="text" class="form-control" value="{{data.title}}" ng-model="data.title"><br>-->
	
    <textarea name="text" ui-tinymce="tinymceOptions" ng-model="data.text" required></textarea><!--как пример потом исправить тут и в контроллере-->
	<span style="color:red" ng-show="form.text.$touched && form.text.$error.required">Необходимо заполнить поле</span>
    <br>
	<input type="button" ng-click="save('content');" value="СОХРАНИТЬ" class="btn btn-info" ng-disabled="form.$invalid">
	<a href="#/welcome_page" class="btn btn-danger">ОТМЕНИТЬ</a><br>
	</form>
    
  </div>
